<!-- <header>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h1>{{title}}</h1>
</header>

<body>
<div class="todos">

  <div>
    <form (submit)="addTodo($event)">
      <input [(ngModel)]="newList" (keyup.enter)="newList=''" class="textfield" name="newList">
      <button type="submit">Add Todo</button>
    </form>
  </div>

  <ul>
    <li *ngFor="let list of todos; let id=index">
      <input type="checkbox" class="checkbox" [(ngModel)]="list.completed" />
      <span [ngClass]="{'checked': list.completed}">{{ list.newList }}</span>
     <span> <i (click)="deleteTodo(id)" class="fa fa-trash"></i></span>
    </li>
  </ul>
</div>
</body> -->
<app-new-list (updateData)="newItemlistener($event)"></app-new-list>
<app-list [data]="list"></app-list>
