<div>

  <div *ngFor="let list of data; let id=index">{{id+1}}
    <ul>
      <input type="checkbox" class="checkbox" [(ngModel)]="list.completed" />
      <a href="javascript:void(0);" [ngClass]="{'checked': list.completed}" (click)="addSubTask(list)">{{ list.data }}</a>
      <span> <i (click)="deleteData(list)" class="fa fa-trash"></i></span>
      <span><i class="fa fa-check-square-o" (click)="check(list)"></i></span>
      <li *ngIf="list.detail"> {{list.detail}} </li>
    </ul>
  </div>

</div>